<?xml version='1.0' encoding='UTF-8' ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package
        Name='Connected'
        ProductCode='*'
        UpgradeCode='16b5737e-211e-4678-a8f7-54dca5d8dfe0'
        Language='1033'
        Version='2.0.7'
        Manufacturer='Connected Team'
        InstallerVersion='200'
        Compressed='yes'
    >

    <SummaryInformation
            Keywords='Installer'
            Description="Connected Installer"
            Comments='Connected is a high-speed, offline file transfer tool.'
        />

    <Media Id='1' Cabinet='connected.cab' EmbedCab='yes' />

    <StandardDirectory Id='ProgramFiles64Folder'>
        <Directory Id='INSTALLDIR' Name='Connected'>
            <Component
                    Id='MainExecutable'
                    Guid='91635b4b-7cdb-454a-811f-25ddedf77271'
                >
                <File
                        Id='ConnectedExe'
                        Name='connected-desktop.exe'
                        DiskId='1'
                        Source='target\release\connected-desktop.exe'
                        KeyPath='yes'
                    >
                    <Shortcut
                            Id="startmenuConnected"
                            Directory="ProgramMenuDir"
                            Name="Connected"
                            WorkingDirectory='INSTALLDIR'
                            Icon="Connected.exe"
                            IconIndex="0"
                            Advertise="yes"
                        />
                </File>
            </Component>
            <Component Id='WebView2Loader' Guid='*'>
                <File
                        Id='WebView2LoaderDll'
                        Name='WebView2Loader.dll'
                        DiskId='1'
                        Source='target\release\WebView2Loader.dll'
                        KeyPath='yes'
                    />
            </Component>
            <Component Id='WebView2Bootstrapper' Guid='*'>
                <File
                        Id='WebView2BootstrapperExe'
                        Name='MicrosoftEdgeWebView2Setup.exe'
                        DiskId='1'
                        Source='packaging\windows\MicrosoftEdgeWebView2Setup.exe'
                        KeyPath='yes'
                    />
            </Component>
        </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Connected">
            <Component Id="ProgramMenuDir" Guid="*">
                <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                <RegistryValue
                        Root='HKCU'
                        Key='Software\[Manufacturer]\[ProductName]'
                        Type='string'
                        Value=''
                        KeyPath='yes'
                    />
            </Component>
        </Directory>
    </StandardDirectory>

    <Feature Id='Complete' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='WebView2Loader' />
        <ComponentRef Id='WebView2Bootstrapper' />
        <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Icon
            Id="Connected.exe"
            SourceFile="target\release\connected-desktop.exe"
        />

    <!-- Launch the app after a fresh install or a major upgrade install. -->
    <CustomAction
            Id="InstallWebView2Runtime"
            FileRef="WebView2BootstrapperExe"
            ExeCommand="/silent /install"
            Execute="deferred"
            Return="check"
            Impersonate="no"
        />
    <CustomAction
            Id="LaunchConnected"
            Directory="INSTALLDIR"
            ExeCommand="connected-desktop.exe"
            Return="asyncNoWait"
            Impersonate="yes"
        />
    <InstallExecuteSequence>
        <Custom
                Action="InstallWebView2Runtime"
                After="InstallFiles"
                Condition="(NOT Installed) OR UPGRADINGPRODUCTCODE"
            />
        <Custom
                Action="LaunchConnected"
                After="InstallFinalize"
                Condition="(NOT Installed) OR UPGRADINGPRODUCTCODE"
            />
    </InstallExecuteSequence>

    </Package>
</Wix>
